* {
    margin : 0;
    padding : 0;
    border : 0;
}



html,
body {

  height: 100%;
}

/*   Header   */

header{

	background-color: #55B59A;
	height: 72px;
	box-shadow: 7px 7px 4px  #888888;		
}

header h3{
	
	font-family:cursive;
	
}

header p{
	
	font-family:cursive;
	
}

header a{

    text-decoration: none;
    color: white;
    display: block;

}

header nav ul {

    list-style-type: none;
    overflow: hidden;
    background-color: #55B59A;
    font-size: 25px;
    padding-left: 10%;

}

header nav li {

    float: left;

}

header nav li a {

    display: block;
    text-align: center;
    padding: 20px 25px;
    
}


header nav li a:hover {

    border: 1px solid white;
    background-color: #00cc99;
    box-shadow: 7px 7px 4px #808080;
    border-radius: 40px 10px;
}



/*   Aside   */

aside {

	border: 0px solid black;
    float: left;
    width: 15%;
    height: 90%;
    position: absolute;
    background-color: #00cc99;
    box-shadow: 2px 2px 2px  #888888;
}

aside  a{

    text-decoration: none;
    color: white;
    display: block;

}

aside nav ul {

    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
    

}

aside  nav li {

    float: left;
    display:block;
}

aside  nav li a {


    display:block;
    padding: 10px 25px;
    
}


aside  nav li a:hover {

    border: 1px solid white;
    background-color: #00cc99;
    box-shadow: 7px 7px 4px #808080;
    border-radius: 40px 10px;
}





/*   Article   */


article{

	border: 3px outset black; 
	margin: 5% 5% 5% 20%;
	padding: 10px;
	width: auto; 

}



article:hover{
}


article h3{

	font-style: oblique;

}
 
article p{

	font-style: italic;

}




/*   Footer   */

footer{

	bottom: 0px;
	position: relative;
	width: 100%; 
	height: auto;
	color: white;
	background-color: black;

}

footer ul{

	text-align: center;

}
footer ul li{

	text-align: center;
	display: inline-block;
	margin-bottom: 25px;
}

footer h2{

	font-size: 33px;
}
footer section img{


	width: 50px;
	height: 50px;
}

footer section img:hover{

	border: 1px solid white;
	border-radius: 30px;

}